<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:attr="lang=${countryParam.language}"
      itemscope="" itemtype="http://schema.org/Other">
<head th:include="mobile/layout :: head"></head>
<body>

<div class="container">

    <div th:include="mobile/layout :: header ('favorites')" class="row navbar-citybreak"></div>

    <div  th:with="sites=${favoritesResponseDto.getActiveFilteredList(indexType, tag)},
                    sitesSize=${#lists.size(favoritesResponseDto.sites)},
                    eventsSize=${#lists.size(favoritesResponseDto.events)},
                    displaySize=${#lists.size(sites)},
                    displaySitesSize=${#lists.size(favoritesResponseDto.getFilteredSites(tag))},
                    displayEventsSize=${#lists.size(favoritesResponseDto.getFilteredEvents(tag))}">
        <div class="row">
            <div class="col-xs-12 favorite-categories">
                <h1>
                    <span th:text="#{favorites.title}">My Favorites</span>
                </h1>
            </div>
        </div>
        <div class="row details-info">
            <div class="col-xs-12">
                <h3 class="favorite-sub-title">
                    <a th:class="${indexType == 'site' ? 'active' : ''}" th:href="@{/favorites/site/}" th:if="${sitesSize} > 0">
                        <span th:text="${displaySitesSize}">10</span>&nbsp;&nbsp;<span th:text="#{favorites.sites}">Sites</span>
                    </a>
                    <span th:if="${sitesSize > 0 and eventsSize > 0}">&nbsp;|&nbsp;</span>
                    <a th:class="${indexType == 'event' ? 'active' : ''}" th:href="@{/favorites/event/}" th:if="${eventsSize} > 0">
                        <span th:text="${displayEventsSize}">10</span>&nbsp;&nbsp;<span th:text="#{favorites.events}">Events</span>
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="search-result-list">
                <div th:each="data, row : ${sites}" th:if="${row.index} % 3 == 0" class="row">
                        <div th:each="siteIndex : ${#numbers.sequence(row.index , row.index + 2)}"
                             th:if="${siteIndex} lt ${displaySize}" th:with="currentSite=${sites[siteIndex]}"
                             class="col-xs-12 search-result"
                             th:attr="data-id=${currentSite.id}, data-name=${currentSite.siteName}, data-lat=${currentSite.location.x},data-lng=${currentSite.location.y}">
                            <a th:href="@{${currentSite.detailsUrl}}" th:title="${currentSite.siteName}" class="thumbnail">
                                <div class="thumbnail-card"
                                     th:with="schedulesData=${currentSite.getSchedulesData(searchParams.dateTime)},
                                                distance=${currentSite.getDistanceFrom(searchParams.city.location)},
                                                mileage=${distance lt 1 ? #messages.msg('search.results.distance.short') : #numbers.formatDecimal(distance, 1, 0) + ' Km'}">
                                    <div class="free-ribbon">
                                        <img th:src="${currentSite.displayImageUrl}" src="/img/result-dummy.png" class="search-result-img"/>
                                        <p th:if="${currentSite.free}"><span th:utext="#{search.results.free.ribbon}">FREE<br />ADMISSION</span></p>
                                        <h4 class="favorite-name">
                                            <div class="search-result-rating-star pull-left"
                                                 th:if="${currentSite.rating.average}"
                                                 th:text="${currentSite.rating.average ?: '&nbsp;'}">9
                                            </div>
                                            <div class="search-result-name" th:text="${currentSite.name}">Musée Grévin</div>
                                        </h4>
                                        <div class="caption small">
                                            <div>
                                                <div class="pull-right search-result-distance"
                                                     th:text="${mileage}">
                                                    18 Km
                                                </div>
                                            <div th:text="${currentSite.address.city}"
                                                 class="search-result-city">Paris
                                            </div>
                                        </div>
                                        <div  th:if="${!schedulesData.closed}" class="search-result-schedules"
                                             th:text="${schedulesData.remainingHours lt 1} ? #{search.results.closing.short} : #{search.results.closing(${schedulesData.remainingHours})}">
                                            Open All Day
                                        </div>
                                    </div>
                                    <div th:if="${schedulesData.closed}" class="closed">
                                        <span th:if="${!schedulesData.willOpen}" th:text="#{search.results.closed}">
                                            Closed
                                        </span>
                                        <span th:if="${schedulesData.willOpen}" th:utext="${schedulesData.remainingHours lt 1} ?
                                            #{search.results.opening.short} :
                                            (${schedulesData.remainingHours gt 24} ?
                                                #{search.results.opening.long(${schedulesData.remainingDays})} :
                                                #{search.results.opening(${schedulesData.remainingHours})}
                                            )">
                                                Open All Day
                                            </span>
                                        </div>
                                        <form th:action="@{/subjects/favorites}" method="post" role="form">
                                            <input type="hidden" name="id" th:value="${currentSite.id}"/>
                                            <input type="hidden" name="favorite" value="false" />
                                            <span class="favorite-remove glyphicon glyphicon-remove"></span>
                                        </form>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /*<![CDATA[*/
        initFavorites();
        /*]]>*/
    </script>
</div>

<footer th:include="mobile/layout :: footer (${false})"></footer>

</body>
</html>